@{
    ViewBag.Title = "Verificación de cuenta";
}
<h2>@ViewBag.Title.</h2>

<p class="text-danger">
    Por favor proceda a verificar su cuenta haciendo click en este <a href="@ViewBag.Link">link</a>
</p>
