@model Certificados.Models.Certificados

@{
    Layout = "~/Views/Shared/_Layout TB.cshtml";
    ViewBag.Title = "Validación de Certificado de Capacitación de Comerciante Autónomo".ToUpper();
}

<div class="container">
    <div class="row col-md-offset-1 col-md-10">
        <h1 class="centrado">@ViewBag.Title</h1>
        <br />
        
        <p>
            @ViewBag.Mensaje
        </p>        
    </div>
    <div class="col-md-1"></div>
</div>