
@{
    Layout = null;
    ViewBag.Title = "REPORTE SIN RESULTADOS";
}

<div class="container">
    <div class="row">
        <h1 class="centrado">@ViewBag.Title</h1>
        <p>
            @ViewBag.Mensaje
        </p>
    </div>
</div>
